<head>
	<link href="../static/style.css" rel="stylesheet" type = 'text/css'>
</head>

<body>
	<div id='nav_bar'>
		<div id='title'>
			<img src='https://user26015.na.imgto.link/public/20260821/screen-shot-2026-08-21-at-5-32-03-pm.avif'>


		</div>
		<div id='pages'>
			<a href="{{ url_for('home') }}" class="page_link">Home</a>
			<a href="{{ url_for('health_knowledge') }}" class="page_link">Health Knowledge</a>
			<a href="{{ url_for('find_care') }}" class="page_link">Finding Care</a>
			<a href="{{ url_for('about_model') }}" class="page_link">About The Model</a>
			<a href="{{ url_for('about_me') }}" class = 'page_link_active'> About Me </a>
		</div>
	</div>


	


    <h1 style = "margin-left: 150px;width: 900px;
    color:#4A90E2;
    transform: translateY(20px);
    font-size: 85px">About Me</h1>

    <div class='vt'>
    	<img src="https://user26015.na.imgto.link/public/20260821/name.avif" class='vp'>


    <h3 style='font-weight: normal'>My name is Ankana Ghosh. This is my story about what motivated me to build a website that makes complex health information more accessible, understandable, and engaging. I hope my work improves health literacy and demonstrates how Al can be used to benefit society, particularly people without medical training, like my family.
    </h3>
<h3 style='font-weight: normal'>
As a 7th grader, I remember becoming very, very sick during the school year. Like many families, whenever someone in my family gets sick, we immediately begin researching symptoms online. Fever, cough, sore throat, congestion, weakness, body aches, chills, and loss of appetite are common symptoms that can be associated with many different conditions, making it difficult to determine what is actually wrong. After visiting a doctor, I took medication for a week, but my symptoms continued to worsen. As my high fever persisted, my parents searched online for answers, only to become more confused by the countless possibilities presented by search results. Eventually, after a series of tests, my doctor diagnosed me with severe pneumonia, and I began the appropriate treatment.
Well, I survived, but this experience left me wondering whether there could be a clearer, less confusing way for people to access reliable health information.
</h3>
<h3 style='font-weight: normal'>
That question inspired me to create MedLensAl, a publicly accessible website designed to provide families with a structured and educational experience. Users can learn about possible conditions, better understand their symptoms, and determine when to seek professional care.
While many Al tools focus primarily on predicting conditions from symptoms, MedLensAl emphasizes education and transparency. The platform currently uses publicly available data to train a machine learning model that generates predictions, and future versions will incorporate more complex datasets. 
</h3>
<h3 style='font-weight: normal'>
Rather than overwhelming users with large amounts of information, MedLensAl guides them through a step-by-step process, from entering symptoms to understanding results and learning when to seek medical attention. I believe it is important for users to understand how an Al model reaches its predictions. Such transparency would help build trust and provide clarity, especially to common people. By combining predictions with explanations, describing how the model works, presenting model statistics, and offering a structured process for seeking help, MedLensAl aims to help people become more informed about their health, and feel more prepared to navigate healthcare decisions.
</h3>
<h3 style='font-weight: normal'>
I would like to sincerely thank Mrs. Sohail, my science teacher at Garnet Valley Middle School, who encouraged me to pursue this idea when I was in 8th grade. She sponsored my participation in local science fairs, where I presented the first phase of my research. My project received first and third place awards in the Computer Science category at the Delaware County (DCSF) and Delaware Valley (DVSF) Science Fairs, along with several special awards.
</h3>
<h3 style='font-weight: normal'>
I would also like to thank the judges at these science fairs for their valuable feedback, which helped me advance the project to its next phase. The first phase of my research focused on identifying which machine learning algorithms performed best for symptom-patter exploration. The second phase focused on democratizing health knowledge by creating a publicly accessible website that uses artificial intelligence to transform complex symptom data into understandable educational health insights, resulting in MedLensAl.
</h3>
<h3 style='font-weight: normal'>
This project allowed me to address a real-world problem, analyze a large dataset, build predictive and explainable machine learning models, and design a website for public use. Having studied Python since 5th grade, I viewed this project as an opportunity to deepen my programming skills by developing gradient boosting models such as XBoost, CatBoost, and LightGBM, while also learning HTML, CSS, SHAP, and Flask to build a functional machine-learning-powered website. I have also created a series of videos, now posted in my YouTube channel, that demonstrate how I built the entire project myself, overcame challenges along the way, and collected and interpreted the data to promote transparency and build trust in the product. I hope my work promotes AI for the public good and inspires other students to develop machine learning and AI based applications.
</h3>
        
</div>



</body>