<head>
	<link href="../static/style.css" rel="stylesheet" type = 'text/css'>
</head>

<body>
	<div id='nav_bar'>
		<div id='title'>
			<img src='https://user26015.na.imgto.link/public/20260821/screen-shot-2026-08-21-at-5-32-03-pm.avif'>


		</div>
		<div id='pages'>
			<a href="{{ url_for('home') }}" class="page_link">Home</a>
			<a href="{{ url_for('health_knowledge') }}" class="page_link_active">Health Knowledge</a>
			<a href="{{ url_for('find_care') }}" class="page_link">Finding Care</a>
			<a href="{{ url_for('about_model') }}" class="page_link">About The Model</a>
			<a href="{{ url_for('about_me') }}" class = 'page_link'> About Me </a>
		</div>
	</div>


	<section class="banner2">

    <div class="text2">
        <h1>Health Knowledge</h1>
        
    </div>

</section>
	
	<h4 style="text-align: center; font-size: 24px; font-weight: 500;">Learn more about health information to better understand when to seek help, trusted sources, symptoms, and more.</h4>

	<div class= 'articles'>
		<ul>
			<details>
				<summary>When To Seek Care</summary>
				<div>text</div>
			</details>

			<details>
				<summary>Understanding The Machine Learning Predictions</summary>
				<div>text</div>
			</details>
			<details>
				<summary>Reliable Sources</summary>
				<div>text</div>
			</details>
		</ul>
	</div>


</body>
